{% extends "frontview/base.html" %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block links %}
<link rel="stylesheet" href="{% static 'frontview/account_settings.css'%}">
{% endblock links %}

{% block body %}
<div class="main-container">
    <form 
    {% if operation == "update" %}
    action="/manager/dashboard/update/suppliers/"
    {% else %}
    action="/manager/dashboard/create/suppliers/"
    {% endif %}
    method="post">
        {% csrf_token %}
        <div class="main-container-item">
            <input class="mytextinput" name="supplier_id" type="text" placeholder="Supplier ID"
                value="{{supplier.supplier_id}}" hidden>
        </div>
        <div class="main-container-upper">
            <div class="main-container-upper-left">
                <div class="main-container-item" style="padding-bottom: 25px;">
                    <p>Supplier Name :</p>
                </div>
                <div class="main-container-item" style="padding-bottom: 25px;">
                    <p>Email:</p>
                </div>
                <div class="main-container-item" style="padding-bottom: 25px;">
                    <p>Address:</p>
                </div>
                <div class="main-container-item" style="padding-bottom: 25px;">
                    <p>Contact Person:</p>
                </div>
            </div>
            <div class="main-container-upper-right">
                <div class="main-container-item">
                    <input class="mytextinput" name="name" type="text" placeholder="Name" value="{{supplier.name}}" required>
                </div>
                <div class="main-container-item">
                    <input class="mytextinput" name="email" type="email" placeholder="Email"
                        value="{{supplier.email}}" required>
                </div>
                <div class="main-container-item">
                    <input class="mytextinput" name="address" type="text" placeholder="Address" value="{{supplier.address}}" required>
                </div>
                <div class="main-container-item">
                    <input class="mytextinput" name="contact_person" type="text" placeholder="Contact Person"
                        value="{{supplier.contact_person}}" required>
                </div>
            </div>
        </div>
        <div class="main-container-bottom">
            {% if operation == "update" %}
            <button class="mybtn">Update</button>
            {% else %}
            <button class="mybtn">Add</button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock body %}