<div class="card">
    <div class="card-info">
        <div class="card-item">
            <h3>{{content.first_name}}, {{content.last_name}}</h3>
        </div>
        <div class="card-item">
            <p><b>Email:</b> {{content.email}}</p>
        </div>
        <div class="card-item">
            <p><b>Address:</b> {{content.address}}</p>
        </div>
        <div class="card-item">
            <br>
            <p><b>Total Orders:</b> {{content.total_order}}</p>
        </div>
        <div class="card-item">
            <p><b>Pending Orders:</b> {{content.pending}}</p>
        </div>
        <div class="card-item">
            <p><b>Processing Orders:</b> {{content.processing}}</p>
        </div>
        <div class="card-item">
            <p><b>Confirmed Orders:</b> {{content.confirmed}}</p>
        </div>
        <div class="card-item">
            <p><b>Completed Orders:</b> {{content.completed}}</p>
        </div>
        <div class="card-item">
            <p><b>Cancelled Orders:</b> {{content.cancelled}}</p>
        </div>
    </div>
    <div class="card-options">
        
    </div>
</div>