<div class="card">
    <div class="card-img">
        <img src="../../static/media/images/laptop.png" alt="">
    </div>
    <div class="card-info">
        <div class="card-item">
            <h3>{{content.product.product_name}}</h3>
        </div>
        <div class="card-item">
            <b>Brand:</b> {{content.product.brand}}
        </div>
        <div class="card-item">
            <b>Model:</b> {{content.product.model_number}}
        </div>
        <div class="card-item">
            <b>Weight:</b> {{content.product.weight}} g
        </div>
        <div class="card-item">
            <b>Price:</b> {{content.product.price}}
        </div>
        <div class="card-item">
            <b>Supplier:</b> {{content.product.supplier_name}}
        </div>
        <div class="card-item">
            <b>Categories:</b> |
            {% for cat in content.categories %}
            {{cat.category_name}} |
            {% endfor %}
        </div>
    </div>
    <div class="card-options">
        <form action="edit/products/{{content.product.product_id}}" method="post">
            {% csrf_token %}
            <button>
                <i class="fa-solid fa-pen-to-square"></i>
            </button>
        </form>
        <form action="delete/products/{{content.product_id}}" method="post">
            {% csrf_token %}
            <button>
                <i class="fa-solid fa-trash"></i>
            </button>
        </form>
    </div>
</div>