<div class="card">
    <div class="card-info">
        <div class="card-item">
            <h3>{{content.name}}</h3>
        </div>
        <div class="card-item">
            <p><b>Email:</b> {{content.email}}</p>
        </div>
        <div class="card-item">
            <p><b>Address:</b> {{content.address}}</p>
        </div>
        <div class="card-item">
            <p><b>Contact Person:</b> {{content.contact_person}}</p>
        </div>
    </div>
    <div class="card-options">
        <form action="edit/suppliers/{{content.supplier_id}}" method="post">
            {% csrf_token %}
            <button>
                <i class="fa-solid fa-pen-to-square"></i>
            </button>
        </form>
        <form action="delete/suppliers/{{content.supplier_id}}" method="post">
            {% csrf_token %}
            <button>
                <i class="fa-solid fa-trash"></i>
            </button>
        </form>
    </div>
</div>