<div id="{{content.order_id}}" class="card">
    <div class="card-info-order">
        <form action="update/orders/" method="post">
            {% csrf_token %}
            <div class="card-info-order-top">
                <div class="card-info-order-left">
                    <div class="card-item">
                        <h2>Order No. {{content.order_id}}</h2>
                        <input type="text" name="order_id" value="{{content.order_id}}" hidden>
                    </div>
                    <div class="card-item">
                        <p><b>Product:</b> {{content.product_name}}</p>
                    </div>

                    <div class="card-item">
                        <p><b>Model:</b> {{content.model_number}}</p>
                    </div>

                    <div class="card-item">
                        <p><b>Brand:</b> {{content.brand}}</p>
                    </div>

                    <div class="card-item">
                        <p><b>Unit Price:</b> {{content.price}} BDT</p>
                    </div>

                    <div class="card-item">
                        <p><b>Weight:</b> {{content.weight}} g</p>
                    </div>

                    <div class="card-item">
                        <p><b>warehouse:</b> {{content.warehouse}}</p>
                    </div>

                    <div class="card-item">
                        <p><b>Supplier:</b> {{content.supplier_name}}</p>
                    </div>

                    <div class="card-item">
                        <p><b>Payment Method:</b> COD</p>
                    </div>

                    <div class="card-item">
                        <p><b>Total Cost:</b> {{content.total_cost}} BDT</p>
                    </div>


                    <div class="card-item">
                        <b> Order Status: </b>
                        {% if content.status != 'CANCELLED' %}
                        <select name="status" class="mytextinput">
                            <option value="1" {% if content.status == 'PENDING' %} selected {% endif %}>PENDING</option>
                            <option value="2" {% if content.status == 'PROCESSING' %} selected {% endif %}>PROCESSING</option>
                            <option value="3" {% if content.status == 'CONFIRMED' %} selected {% endif %}>CONFIRMED</option>
                            <option value="4" {% if content.status == 'COMPLETED' %} selected {% endif %}>COMPLETED</option>
                            <option value="5" {% if content.status == 'CANCELLED' %} selected {% endif %}>CANCELLED</option>
                        </select>
                        {% else %}
                        <select name="status" class="mytextinput">
                            <option value="5" {% if content.status == 'CANCELLED' %} selected {% endif %}>CANCELLED</option>
                        </select>
                        {% endif %}
                    </div>

                </div>
                <div class="card-info-order-right">

                    <div class="card-item">
                        <p><b>Ordered By: </b> {{content.first_name}} {{content.last_name}} ({{content.email}})</p>
                    </div>

                    <div class="card-item">
                        <p><b>Address: </b> <input class="mytextinput" type="text" name="address" value="{{content.address}}" required></p>
                    </div>

                    <div class="card-item">
                        <p><b>Placed Order On: </b> {{content.order_date}}</p>
                    </div>

                    <div class="card-item">
                        <p><b>Carrier Partner: </b> 

                            <select name="carrier_partner" id="" class="mytextinput">
                                <option value="0">None</option>
                                {% for shipment_carrier in shipment_carriers%}
                                <option value="{{shipment_carrier.carrier_id}}" {% if content.carrier_partner_id == shipment_carrier.carrier_id %} selected {% endif %}>{{shipment_carrier.name}}</option>
                                {% endfor %}
                            </select>
                    </div>

                    <div class="card-item">
                        <p><b>Carrier Phone: </b> +880 <input class="mytextinput" name="carrier_phone" type="text" 
                            {% if content.carrier_phone != None %}
                            value="{{content.carrier_phone}}"
                            {% endif %}
                            placeholder="Carrier Phone"></p>
                    </div>

                    <div class="card-item">
                        <p><b>Delivery Date: </b> <input class="mytextinput" name="delivery_date" value="{{content.delivery_date|date:'Y-m-d'}}" type="date"> [Format: MM-DD-YYYY]</p>
                    </div>

                </div>
            </div>
            <div class="card-info-order-bottom">
                <div class="card-item">
                    <button type="submit" class="mybtn" style="color: white;">Update</button>
                </div>
            </div>

        </form>
    </div>
</div>